/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Fira Sans', sans-serif;
}
#navbar{
	background-color: #06283D;
}
#logo{
	height: 60px;
	width: auto;
}
#header{
	background-color: #DFF6FF;
	margin-top: 90px;
}
